# Application Configuration
APP_NAME="Demo-Teaching-Interactive-Presentation"
APP_ENV=development
PORT=3000

# Presenter / Teacher Info
PRESENTER_NAME="John Lawrence F. Maula"
CLASS_SECTION="BSIT-31A"
INSTITUTION="Pambayang Dalubhasaan ng Marilao"
